@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html {
    font-size: 18px;
}
body {
    font-family: 'Lato', sans-serif;
    background: #101010;
}
a {
    color: #9684f8;
}
a:hover {
    color: #c9bfff;
    transition: 100ms ease-out color;
    text-decoration: none;
}
.container {
    display: block;
    padding: 0 40px;
}
#title h1 {
    font-size: 2em;
    color: #FFFFFF;
    font-family: 'Fira Mono', monospace;
}
#intro {
    min-height: 650px;
    padding: 60px 0;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
}
#title {
    padding: 0 40px;
    margin: 0 auto;
    max-width: 750px;
    color: #888;
    height: 50%;
}
#title > .name {
    display: inline-block;
}
#title > .name > #main-bio {
    color: #5e5e5e;
    font-size: 1.4em;
    font-family: Fira Mono;
}
#title > img {
    display: inline-block;
    margin-left: 394px;
    vertical-align: top;
    height: 80px;
    margin-top: 4px;
}
#title > .bio {
    margin-bottom: 0;
}
#title > .contact-info > a {
    line-height: 1.3;
    padding: 9px 12px;
    margin-right: 4px;
    margin-bottom: 4px;
    display: inline-block;
    color: #007bff;
    border: 1px solid #313338;
    background: #1a1c21;
    border-radius: 10px;
}
#title > .contact-info > a:hover {
    background: rgba(217, 210, 255, 0.2);
    border: 1px solid #4b4b4b;
    transition: 200ms ease-out background,200ms ease-out border;
    text-decoration: none;
}
#title > .contact-info > a > span {
    margin-left: 4px;
}

#second {
    background: #000000;
}
#projects {
    margin: 0 auto;
    max-width: 1000px;
    padding-top: 40px;
    padding-bottom: 40px;
}
#projects > #p {
    margin: 0 -20;
}
#projects h2 {
    font-size: 1.5em;
    color: #FFFFFF;
    font-family: Fira Mono;
}
#projects > #p > .row {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
}
#projects > #p > .row > .card {
    background-color: #101010;
    justify-content: flex-end;
    border-radius: 12px;
    align-items: center;
    display: flex;
    margin-bottom: 30px;
    min-height: auto;
}
#projects > #p > .row > .card > .info {
    padding: 30px 40px;
}
#projects > #p > .row > .card > .info > .head {
    display: flex;
    justify-content: center;
    align-items: center;
}
#projects > #p > .row > .card > .info > .head > img {
    margin-right: 16px;
}
#projects > #p > .row > .card > .info > .head > .text {
    flex-grow: 1;
    flex-shrink: 1;
}
#projects > #p > .row > .card > .info > .head > .text > h1 {
    font-size: 24px;
    color: #FFFFFF;
}
#projects > #p > .row > .card > .info > .head > .text > .tag {
    color: #888;
}
#projects > #p > .row > .card > .info > p {
    color: #888;
    margin: 16px 0;
}
#projects > #p > .row > .card > .info > .buttons > .btn {
    line-height: 1.3;
    padding: 9px 12px;
    display: inline-block;
    color: #888;
    border: 1px solid #888;
    background: #101010;
    border-radius: 10px;
}
#projects > #p > .row > .card > .info > .buttons > .btn:hover {
    background: #e0e0e0;
    border: 1px solid #888;
    color: rgb(68, 68, 68);
    transition: 200ms ease-out background,200ms ease-out border,200ms ease-out color;
    text-decoration: none;
}
#projects > #p > .row > .card > .info > .buttons > .repobtn {
    margin-left: 8px;
    font-size: 24px;
    vertical-align: middle;
    color: #e0e0e0;
}
#projects > #p > .row > .card > .info > .buttons > .disabled {
    cursor: default;
    pointer-events: none;
    opacity: .3;
}
#projects > #p > .other-projects {
    display: block;
    font-size: 18px;
    text-align: center;
    color: #888;
}
#third {
    background: #080808;
}
#skills {
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #080808;
    max-width: 1000px;
}
#skills > .title {
    margin: 0 auto;
    max-width: 950px;
}
#skills > .title > h2 {
    font-size: 1.5em;
    color: #FFFFFF;
    font-family: Fira Mono;
}
#skills > .full > .row {
    margin: 0 -20;
}
#skills > .full > .row > .col > h1 {
    font-size: 24px;
    color: #888;
}
#skills ul {
    padding-left: 18px;
    color: #888;
    font-size: 16px;
}
#skills > .condense {
    display: none;
}
#skills > .condense > .row {
    justify-content: center;
}
#skills > .condense > .row > .col-4 {
    max-width: 150px;
}
#skills > .condense > .row > .col-4 > .list-group > a {
    padding: 9px 12px;
    color: #888;
    border: 1px solid #888;
    background: #080808;
    border-radius: 10px;
    margin-bottom: 6px;
}
#skills > .condense > .row > .col-4 > .list-group > .active {
    color: rgb(228, 228, 228);
    background: #101010;
    border: 1px solid rgb(228, 228, 228);
    transition: 200ms ease-out background,200ms ease-out border,200ms ease-out color;
}

#skills > .condense > .row > .col-4 > .list-group > a:hover {
    background: #f3f3f3;
    border: 1px solid #888;
    color: rgb(68, 68, 68);
    transition: 200ms ease-out background,200ms ease-out border,200ms ease-out color;
    text-decoration: none;
}
#skills > .condense > .row > .col-8 {
    max-width: 200px;
}
#footer > div {
    font-family: 'Fira Mono', monospace;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#footer > div > div {
    color: #888;
    font-size: 14px;
}
@media (max-width: 900px) {
    #projects > #p > .row {
        display: block;
    }
    #title > img {
        display: none;
    }
    #skills > .full {
        display: none;
    }
    #skills > .condense {
        display: block;
    }
}
@media (max-width: 675px) {
    #footer > div {
        display: block;
        text-align: center;
    }
    #footer > .container > .first {
        display: none;
    }
    #skills > .row {
        display: block;
    }
}
@media (max-width: 500px) {
    #skills > .condense > .row > .col-4 > .list-group {
        margin-bottom: 10px;
    }
}
@media (max-width: 425px) {
    #title > .contact-info > a > span {
        display: none;
    }
}